.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    height: 100dvh;
    min-height: 500px;

    .hero {
        max-width: 200px;
    }

    span {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }

    .a {
        align-self: center;
        width: fit-content;
    }

    button {
        background-color: var(--btn-color);
        color: var(--btn-text-color);
        border: none;
        border-radius: 20px;
        height: 50px;
        width: 126px;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        transition: box-shadow 200ms ease-in-out, transform 100ms ease-in-out;
    }

    button:hover {
        transform: scale(1.05);
    }

    button:active {
        transform: translateY(2px);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    }
}

.colorModeContainer {
    position: relative;
    max-width: fit-content;
}

.colorMode {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 20px;
}

.colorMode:hover {
    cursor: pointer;
}

.description {
    max-width: 24ch;
    align-self: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.socialIconsLight {
    color: #222;
    font-size: 30px;
}

.socialIconsDark {
    color: #fff;
    font-size: 30px;
}


@media (width>=800px) {
    .container {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 40px;

        .hero {
            max-width: 350px;
            width: 350px;
        }

        .colorMode {
            width: 25px;
        }
    }
}



@media (width>=1200px) {
    .container {
        gap: 120px;

        .hero {
            max-width: 400px;
            width: 400px;
        }
    }
}


@media (width>=1800px) {
    .container {
        gap: 250px;

        .hero {
            max-width: 400px;
            width: 400px;
        }
    }
}