.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;




    .blogsContainer {
        /* border: 1px solid red; */
        padding: 0 30px;
        display: flex;
        column-gap: 15px;
        max-width: 250px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-padding: 40px;
    }

    img {
        scroll-snap-align: start;
        scroll-snap-stop: always;

        max-width: 230px;
        max-height: 170px;
        align-self: center;
        background-color: var(--project-cerd-bg);
        border-radius: 20px;
    }

    a {
        /* border: 1px solid red; */
        width: fit-content;
        text-decoration: none;
        color: #222;
        transition: transform 200ms ease-in-out;
    }

}