.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .scrollButtonRight,
    .scrollButtonLeft {
        display: none;
    }

    .blogsContainer {
        /* border: 1px solid red; */
        padding: 0 30px;
        padding-bottom: 10px;
        display: flex;
        column-gap: 15px;
        max-width: 250px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-padding: 40px;
        scroll-behavior: smooth;
        overflow-y: hidden;
    }

    img {
        scroll-snap-align: start;
        scroll-snap-stop: always;

        width: 230px;
        min-height: 155px;
        align-self: center;
        background-color: var(--project-cerd-bg);
        border-radius: 20px;
    }

    a {
        /* border: 1px solid red; */
        width: fit-content;
        text-decoration: none;
        color: #222;
        transition: transform 200ms ease-in-out;
    }
}

@media (width>=800px) {
    .container {

        .slider {
            display: flex;
            align-items: center;
            column-gap: 20px;
        }

        .scrollButtonRight,
        .scrollButtonLeft {
            display: inline-block;
            margin-bottom: 100px;
            border-radius: 50%;
            color: #777;
            padding: 10px;
            cursor: pointer;
        }

        user-select: none;

        .blogsContainer::-webkit-scrollbar {
            height: 2px;
            /* display: none; */
        }


        .blogsContainer {
            padding-bottom: 40px;
            max-width: 620px;
            column-gap: 40px;
            scroll-padding: unset;
        }

        img {
            scroll-snap-stop: always;
            background-size: cover;
            width: 350px;
            min-height: 235px;
        }

        a:hover p {
            background-color: #44444499;
            border-radius: 10px;
            color: white;
            transition: background-color 200ms ease-in-out;
        }
    }

}


@media (width>=1000px) {
    .container {
        .blogsContainer {
            max-width: 800px;
        }
    }
}